{% extends 'base.html' %}

{% block content %}


<div class="content-page">
    <div class="container-fluid add-form-list">
       <div class="row">
           <div class="col-sm-12">
            {% for msg in messages %}
                <div class="alert alert-info" role="alert">
                  {{msg}}       
                </div>               
                 {% endfor %}
               <div class="card">
                   <div class="card-header d-flex justify-content-between">
                       <div class="header-title">
                           <h4 class="card-title">Add Sale</h4>
                       </div>
                   </div>
                    <div class="card-body">
                        <h1>Confirm Deletion</h1>
                        <p>Are you sure you want to delete the product "{{ page }}"?</p>
                        <form method="post">
                            {% csrf_token %}
                            <input type="submit" value="Confirm">
                            <a href="{% url 'page_add_product' %}">Cancel</a>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    <!-- Page end  -->
    </div>
</div>
{% endblock %}